@media only screen and (max-width: 1024px){
	
	nav a{
		font-size:18px;
	}
	
	nav ul a{
		font-size:13px;
	}

	.mView {
        display: block !important;
    }
	
	.IMGlayer svg {
		font-size: 38px;
		color: #bea34d;
	}
	
	.sideBar .col-lg-9{
		padding-left: 60px;
	}
	
	.sideBar label{
		font-size:16px;
	}
	.sideBar span, p{
		font-size:14px;
	}

	nav .col-lg-2{
		float:left;
		width:80%;
	}
	
	nav .col-lg-10{
		float:right;
		width:20%;
	}
	
	.years h1{
		font-size:30px;
	}
	
	.years p{
		font-size:14px;
	}
	
	.yearsBGRGBA h1{
		font-size:30px !important ;
	}
	
	.yearsBGRGBA p{
		font-size:16px !important ;
	}
	
}

@media only screen and (max-width: 499px){
	
	.bannerText h1 {
		font-size: 24px;
	}
	
	.legalServices, .callNow{
		width:100% !important;
	}
	
	.BottomSide label{
		font-size:25px;
	}
	
	.years .float-left, .float-right{
		width:100% !important;
	}

	.Butt button, .yearsBGRGBA button, form button{
		padding: 10px 20px !important;
		font-size: 15px;
	}
	
	.formIMG img {
		height: 300px;
	}
	
	.footerBG{
		text-align:center;
	}
	
}