@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay-Bold';
    src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoSlab-Regular';
    src: url('../fonts/RobotoSlab/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab/RobotoSlab-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoSlab-Light';
    src: url('../fonts/RobotoSlab/RobotoSlab-Light.woff2') format('woff2'),
        url('../fonts/RobotoSlab/RobotoSlab-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoSlab-Bold';
    src: url('../fonts/RobotoSlab/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab/RobotoSlab-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
